html, body { /*http://www.sitepoint.com/css-system-styles/*/
	font: caption; 
	color: #111;
	background-color: Window;
	margin: 0;
	padding: 0;
	height: 100%;
	width: 100%;
	-webkit-font-smoothing: antialiased;
}

#timesheet {
	padding: 0;
	height: 100%;
	width: 100%;
	display: table;
}

#timesheet > div {
    display: table-cell;
    width: 20%;
    margin: 0;
    height: 100%;
    vertical-align: top;
    padding: 2px 0 0 0;
}


#today {
	background-color: white;
}

.entry {
	display: table;
	border-spacing: 4px 2px;
	width: 100%;
	position: relative;
}

.p1 {
	border-left: 0px solid #0066cc; 
	background-color: rgb(146, 225, 192) !important;
}
.p2 {
	border-left: 0px solid #669900; 
	background-color: #9FC6E7 !important;
}
.p3 {
	/*border: 1px dashed rgba(0,0,0,0.1);
	background-color: rgba(0,0,0,0.01);*/
}

.project input {
	display: block;
	font: caption;
	border: none;
	background-color: transparent;
}

.project select {
	-webkit-appearance: none;
	height: 19px;
	border: none;
	background-color: transparent;
	font: caption; 
	color: #111;
	font-size: 15px;
}

.project select:hover {
	-webkit-appearance: select;
}

.project .time {
	text-align: right;
	position: absolute;
	opacity: 0.1;
	font-size: 24px;
	top: 12px;
	right: 14px;
	max-width: 70px;
}

.project {
	display: table-cell;
	padding: 8px 9px;
	vertical-align: top;
	background-color: rgba(0,0,0,0.02);
	border-radius: 4px;
	/*border-left: 2px solid #f00;
	padding-left: 10px;*/
}

.project .description {
	opacity: 0.6;
}

@media only screen and (min-width : 521px) {
	#timesheet {
	    width: 400px !important;
	}
	#today {
		display: table-cell !important;
	}
}